<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

	
</head>
<body>
		<main>
			<h1>{{ texto }}</h1>
			<input type="text" v-model="texto">
				<h2 v-if="texto && texto <= 6"> MENOR A 6</h2>
				<h2 v-else-if="texto && texto > 6  && texto <= 20"> MAYOR A 6 Y MENOR A 20</h2>
				<h2 v-else> MAYOR A 20</h2>

			{{ $data }}
		</main>

</body>
<script type="text/javascript">
		new Vue({
			el:'main',
			data:{
				texto:1
			}
		});
	</script>
</html>