<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

	
</head>
<body>
		<main>
			<table>
				<tr>
					<th>NOMBRE</th>
					<th>APELLIO</th>
				</tr>
				<tr v-for="(item,idx) in users">
					<td>{{ item.nombre }}</td>
					<td>{{ item.apellido }}</td>
				</tr>
			</table>
			<form @submit.prevent="createUser">
				<input type="text" placeholder="nombre" v-model="usuario.nombre"/>
				<input type="text" placeholder="apellido" v-model="usuario.apellido"/>
				<button type="submit">GRABAR</button>
			</form>

			{{ $data }}
		</main>

</body>
<script type="text/javascript">
		new Vue({
			el:'main',
			data:{
				users:[
					{'nombre':'Martha','apellido':'Mera'},
					{'nombre':'Carla','apellido':'Soto'},
					{'nombre':'Mayra','apellido':'Lema'},
				],
				usuario:{nombre:null,apellido:null}
			},
			methods:{
				createUser(){
					this.users.unshift(this.usuario);
					this.usuario={nombre:null,apellido:null};
				}
			}
		});
	</script>
</html>